<!-- edit.component.html -->
<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <div class="w-2/5 mx-4 mt-16 bg-white shadow-xl rounded-lg text-gray-900 border border-gray-300 p-6">
      <form [formGroup]="editForm" (ngSubmit)="onSubmit()">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
          <input formControlName="name" id="name" type="text" placeholder="Enter your name"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
       
            <span *ngIf="name?.invalid && (name?.touched || name?.dirty)">
                <span [ngStyle]="{'color':'red'}" *ngIf="name?.errors?.['required']">Name is required</span>
                </span>
       
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
          <input formControlName="email" id="email" type="email" placeholder="Enter your email"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

            <span  *ngIf="email?.invalid && (email?.touched || email?.dirty)">
                <span [ngStyle]="{'color':'red'}" *ngIf="email?.errors?.['required']"> <br>Email is Required</span>
                <span [ngStyle]="{'color':'red'}" *ngIf="email?.errors?.['email']"> <br>Email format is wrong</span>
            </span>
        </div>
  
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="number">Mobile Number</label>
          <input formControlName="number" id="number" type="text" placeholder="Enter your mobile number"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">

            <span  *ngIf="number?.invalid && (number?.touched || number?.dirty)">
                <span [ngStyle]="{'color':'red'}" *ngIf="number?.errors?.['required']"> <br>number is Required</span>
                <span [ngStyle]="{'color':'red'}" *ngIf="number?.errors?.['maxLength']"> <br>Maximum numbers 10</span>
                <span [ngStyle]="{'color':'red'}" *ngIf="number?.errors?.['minLength']"> <br>Minimum numbers 10</span>
            </span>

        </div>
  
        <div class="flex items-center justify-between">
          <button type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
            Save Changes
          </button>
          
            
        </div>
      </form>
    </div>
  </div>
  